.laptop-container{
    padding-top: 200px;
}
.laptop-container > h1{
    text-align: center;
    font-family: "Comic Neue", cursive;
}
.laptop-grid{
    display: grid;
    row-gap: 50px;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.laptop-cards{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-top-right-radius: 25px;
    height: 350px;
}
.laptop-cards > ul{
    list-style-type: none;
}
.laptop-img{
    height: 150px;
}
.laptop-infos{
    display: flex;
    align-items:center;
    flex-direction: column;
}
.asking-model-price-btn{
    height: 50px;
    background-color: rgb(125, 125, 230);
    border-radius: 10px;
    font-size: large;
}
.asking-model-price-btn:hover{
    background-color: rgb(0, 0, 0);
    color: wheat;
    cursor: pointer;
}

